
.formWrapper {

  border: 2px solid #fff;
  max-width: 500px;
  margin: 50px auto 0 auto;
  border-radius: 5px;

  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
