
.appWrapper{
  height: 100%;
  display: grid;
  grid-template-rows: 130px 1fr 70px;
}

.header {
  padding: 20px;
  background-color: #2a9df4;
}

main {
  background-color: #60c1f4;
}

.footer {

  width: 100%;
  background-color: #2a9df4;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}



