
.appWrapper{
  height: 100%;
  display: grid;
  grid-template-rows: 180px 1fr 70px;
}

.header {
  padding: 20px;
  background-color: #4998ec;
  color: #eee;
}

main {
  background-color: #fff;
}

.footer {

  width: 100%;
  background-color: #1976d2;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #eee;
}


.linksWrapper {
  margin: 20px 0;

  .link {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-size: 18px;

    &:hover {
      color: #000;
    }

  }
}





