
.appWrapper{
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 1fr 5%;
}

.header {
  padding: 20px;
  background-color: #4998ec;
  color: #eee;
  position: relative;

  .title {
    font-size: 1.3rem;
  }

  .loggedUserInfo {
    font-size: 1rem;
  }
}

main {
  background-color: #fff;
  h1{
    font-size: 1.5rem;
    padding: 10px;
  }
}

.footer {
  background-color: #1976d2;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #eee;
  font-size: 1rem;
}


.linksWrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;

  .link {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-size: 1.1rem;

    &:hover {
      color: #000;
    }

  }
}





